@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --branco: #ffffff;
  --preto: #000000;
  --bg-color1: #323b45;
  --bg-color2: #101623;
  --container-bg-color: #1e1f24;
  --header-color1: #2c2e45;
  --header-color2: #545d70;
  --link-hover-color: #ffae00;
  --banner-shadow-color-1: #000000f4;
  --banner-shadow-color-2: #00000000;
  --box-bg-color: #2b2c44;
  --bar-color1: #787f9a;
  --bar-color2: #ffae00;
  --btn-color1: #449225;
  --btn-color2: #c1ffa8;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-gradient-custom {
    background: linear-gradient(180deg, var(--bg-color1) 0%, var(--bg-color2) 100%);
  }
  .bg-header-custom{
    background: linear-gradient(90deg, var(--header-color1) 0%, var(--header-color2) 100%);
  }
  .bg-shadow-banner{
    background: linear-gradient(0deg, var(--banner-shadow-color-1) 0%, var(--banner-shadow-color-2) 50%, var(--banner-shadow-color-2) 100%);
  }
  .bg-about-me{
    background: linear-gradient(90deg, var(--banner-shadow-color-1) 0%, var(--banner-shadow-color-2) 100%);
  }
}
